.raleway-normal{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
html{
    background-color: #dce7f0;
}
/* nav style */
header{
    background-image: url("./image/Hero-bg.png");
    background-size: cover;
    background-position: center;
    text-align: center;
    
}
 .header-nav{
    display: flex;
    justify-content: space-between;
    margin: 0 200px;
    align-items: center;
}
.nav-tittle{
    font-size: 40px;
    color: #4E47FF;
}
/* shared style */
.btn-primary{
    background-color: #4E47FF;
    font-weight: bold;
    color: white;
    padding: 18px 35px;
    border-radius: 10px;
    border: none;
}
.btn-primary:hover{
    background-color: #757379;
}
/* banner */
.banner-tittle{
    font-size: 65px;
    font-weight: bold;
   max-width: 700px;
   margin-bottom: 37px;
}
.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 698px;
    background-image: url("./image/Hero-bg.png");
    background-size: cover;
    background-position: center;
    text-align: center;
}
/* main style */
main{
    max-width: 80%;
    margin: 0 auto;
}
.live-preview-container{
    display: flex;
    justify-content: space-between;
    margin: 120px;
    
}
.live-preview-tittle{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
}
.live-preview-description{
    font-size: 24px;
    color:#88878b;
}
div button{
    margin:23px ;
    
}
.live-preview-image{
    border-radius: 50px;
}
.user-section{
    background-color: rgb(208, 221, 247);
    border-radius: 20px;
}
.user-tittle{
    font-size: 38px;
    text-align: center;
    font-weight: bold;
    
}
.users{
    display: flex;
    justify-content: space-around;
}
.user-sub-tittle{
    font-size: 80px;
    color:#4E47FF ;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}
.user-section{
    padding: 50px;
}
.user-description{
    font-size: 20px;
    margin-top: 0 50px;
    color: #757379;
}
/* form style */
.form-section{
    padding: 130px 230px;
    display: flex;
    gap: 150px;
    align-items: center;
}
.Form-tittle{
    font-size: 97px;
}
.form-colam{
    width: 50%;
}
.form-section input[type="email"],input[type="text"] {
    height: 64px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}
textarea{
     border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none
}
.btn-bottom{
   background-color: #4E47FF;
    font-weight: bold;
    color: white;
    padding: 18px 35px;
    border-radius: 10px;
    border: none; 
    width: 100%;
}
 .btn-bottom:hover{
    background-color: #757379;
}
/* footer */
footer{
    background-color: white;
    padding: 100px 600px;
}

.footer-title{
    font-size: 100px;
     color: #4E47FF;
     font-weight: bold;
     text-align: center;
     margin: 0;
     }
.footer-description{
    font-size: 20px;
    color: #88878b;
    text-align: center;
}
footer nav ul li{
    list-style: none;
    margin-right: 50px;


}
footer nav li a{
    text-decoration: none;
    font-size: 20px;
    color: #757379;
    
}
footer nav ul{
    display: flex;
    justify-content: center;
    
}